<ion-view title="Donate to Us" id="page7">
  <ion-content padding="true" class="has-header">
    <div class="item item-body" id="donateToUs-list-item-container3">
      <div id="donateToUs-markdown5" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">
          <strong>Questions about donating?</strong>
        </p>

        <p style="color:#000000;">Contact us at:</p>

        <p style="color:#000000;">1-866-581-GIVE (4483) or rd.give@asiafoundation.org
        </p>
      </div>
    </div>
    <div class="spacer" style="width: 300px; height: 30px;"></div>
    <div class="item item-body" id="donateToUs-list-item-container5">
      <div id="donateToUs-markdown7" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">
          <strong>Asia Foundation Annual Fund</strong>
        </p>

        <p style="color:#000000;">Gifts to The Asia Foundation Annual Fund are critical to our annual operations and programs. They sustain our investment in the long-term relationships built over decades in each of our country offices, providing the convening power to make a
          difference on the issues that matter most. Annual Fund support ensures that we have the flexibility to respond to changing conditions on the ground with the speed and creativity required to have a significant impact.</p>
      </div>
      <a href-inappbrowser="https://donatenow.networkforgood.org/1443429" id="donateToUs-button2" class="button button-assertive  button-block">Donate now to the Annual Fund</a>
    </div>
  </ion-content>
</ion-view>