<ion-view title="Follow Us" id="page5">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 28px;"></div>
    <ion-list id="followUs-list2">
      <ion-item class="item-icon-left positive" id="followUs-list-item8" href-inappbrowser="https://www.facebook.com/AsiaFoundation/">
        <i class="icon ion-social-facebook"></i>Facebook
        <span class="item-note">Become a Fan</span>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 25px;"></div>
    <ion-list id="followUs-list3">
      <ion-item class="item-icon-left calm" id="followUs-list-item9" href-inappbrowser="https://twitter.com/Asia_Foundation">
        <i class="icon ion-social-twitter"></i>Twitter
        <span class="item-note">Follow Us</span>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 25px;"></div>
    <ion-list id="followUs-list4">
      <ion-item class="item-icon-left royal" id="followUs-list-item10" href-inappbrowser="https://www.linkedin.com/company/the-asia-foundation">
        <i class="icon ion-social-linkedin"></i>LinkedIn
        <span class="item-note">Join Us</span>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 25px;"></div>
    <ion-list id="followUs-list5">
      <ion-item class="item-icon-left assertive" id="followUs-list-item11" href-inappbrowser="https://www.instagram.com/theasiafoundation/">
        <i class="icon ion-social-instagram"></i>Instagram
        <span class="item-note">Follow Us</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>