<ion-view title="TAF" id="page1">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 52px;"></div>
    <div>
      <img src="img/GBkGs3wvQD2gf1ZB3f6Q_logo-230.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 49px;"></div>
    <div id="tAF-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>The Asia Foundation</strong> is a nonprofit international development organization committed to improving lives across a dynamic and developing Asia. Working through our offices in 18 countries and informed by deep local expertise and six decades
        of experience, we address the critical issues affecting Asia in the 21st century by: strengthening governance, expanding economic opportunity, increasing environmental resilience, empowering women, and promoting international cooperation.</p>
    </div>
    <a ui-sref="menu.aboutUs" id="tAF-button1" style="font-weight:300;font-size:14px;" class="button button-positive button-small button-block button-outline">Learn More</a>
  </ion-content>
</ion-view>