<ion-view title="What We Do" id="page4">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="whatWeDo-card21">
      <div class=" item item-image">
        <img src="img/GmdXJBGQ7WnJdpTLbbmj_governance-a.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="width: 300px; height: 30px;"></div>
      <div class=" item item-image">
        <img src="img/O4knO4NS4yEfdIduSbup_women-a.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="width: 300px; height: 30px;"></div>
      <div class=" item item-image">
        <img src="img/vc6WE22WR6y58hzvlJVi_economic-a.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="width: 300px; height: 30px;"></div>
      <div class=" item item-image">
        <img src="img/zdHpWRTZQy7qAQljAEEh_environment-a.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="width: 300px; height: 30px;"></div>
      <div class=" item item-image">
        <img src="img/pUnVBtDTRLmGob2l8AJv_intlcoop-a.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
    </div>
  </ion-content>
</ion-view>